Torq/Torq.WPF/Connected Services/SalaryService/SalaryService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SalaryService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2115/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2115/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2115/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Torq.Models.Objects" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISalaryService_CreateSalary_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateSalary" />
  </wsdl:message>
  <wsdl:message name="ISalaryService_CreateSalary_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateSalaryResponse" />
  </wsdl:message>
  <wsdl:message name="ISalaryService_GetSalaries_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSalaries" />
  </wsdl:message>
  <wsdl:message name="ISalaryService_GetSalaries_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSalariesResponse" />
  </wsdl:message>
  <wsdl:message name="ISalaryService_GetSalaryById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSalaryById" />
  </wsdl:message>
  <wsdl:message name="ISalaryService_GetSalaryById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSalaryByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ISalaryService_UpdateSalary_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSalary" />
  </wsdl:message>
  <wsdl:message name="ISalaryService_UpdateSalary_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSalaryResponse" />
  </wsdl:message>
  <wsdl:message name="ISalaryService_RemoveSalary_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveSalary" />
  </wsdl:message>
  <wsdl:message name="ISalaryService_RemoveSalary_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveSalaryResponse" />
  </wsdl:message>
  <wsdl:portType name="ISalaryService">
    <wsdl:operation name="CreateSalary">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalaryService/CreateSalary" message="tns:ISalaryService_CreateSalary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalaryService/CreateSalaryResponse" message="tns:ISalaryService_CreateSalary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSalaries">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalaryService/GetSalaries" message="tns:ISalaryService_GetSalaries_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalaryService/GetSalariesResponse" message="tns:ISalaryService_GetSalaries_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSalaryById">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalaryService/GetSalaryById" message="tns:ISalaryService_GetSalaryById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalaryService/GetSalaryByIdResponse" message="tns:ISalaryService_GetSalaryById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSalary">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalaryService/UpdateSalary" message="tns:ISalaryService_UpdateSalary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalaryService/UpdateSalaryResponse" message="tns:ISalaryService_UpdateSalary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveSalary">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalaryService/RemoveSalary" message="tns:ISalaryService_RemoveSalary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalaryService/RemoveSalaryResponse" message="tns:ISalaryService_RemoveSalary_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISalaryService" type="tns:ISalaryService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateSalary">
      <soap:operation soapAction="http://tempuri.org/ISalaryService/CreateSalary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSalaries">
      <soap:operation soapAction="http://tempuri.org/ISalaryService/GetSalaries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSalaryById">
      <soap:operation soapAction="http://tempuri.org/ISalaryService/GetSalaryById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSalary">
      <soap:operation soapAction="http://tempuri.org/ISalaryService/UpdateSalary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveSalary">
      <soap:operation soapAction="http://tempuri.org/ISalaryService/RemoveSalary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SalaryService">
    <wsdl:port name="BasicHttpBinding_ISalaryService" binding="tns:BasicHttpBinding_ISalaryService">
      <soap:address location="http://localhost:2115/Salary" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>