Torq/Torq.WPF/Connected Services/SchemaService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2114/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Torq.Models.Objects" />
  <xs:element name="CreateSchema">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Torq.Models.Objects" minOccurs="0" name="schema" nillable="true" type="q1:Schema" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSchemaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Torq.Models.Objects" minOccurs="0" name="CreateSchemaResult" nillable="true" type="q2:Schema" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchemaById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchemaByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Torq.Models.Objects" minOccurs="0" name="GetSchemaByIdResult" nillable="true" type="q3:Schema" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchemas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchemasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Torq.Models.Objects" minOccurs="0" name="GetSchemasResult" nillable="true" type="q4:ArrayOfSchema" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveSchema">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Torq.Models.Objects" minOccurs="0" name="schema" nillable="true" type="q5:Schema" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveSchemaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Torq.Models.Objects" minOccurs="0" name="schema" nillable="true" type="q6:Schema" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Torq.Models.Objects" minOccurs="0" name="UpdateRoleResult" nillable="true" type="q7:Schema" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>