Torq/Torq.WPF/Connected Services/SchemaService/SchemaService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SchemaService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2114/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2114/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2114/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Torq.Models.Objects" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISchemaService_CreateSchema_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateSchema" />
  </wsdl:message>
  <wsdl:message name="ISchemaService_CreateSchema_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateSchemaResponse" />
  </wsdl:message>
  <wsdl:message name="ISchemaService_GetSchemaById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSchemaById" />
  </wsdl:message>
  <wsdl:message name="ISchemaService_GetSchemaById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSchemaByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ISchemaService_GetSchemas_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSchemas" />
  </wsdl:message>
  <wsdl:message name="ISchemaService_GetSchemas_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSchemasResponse" />
  </wsdl:message>
  <wsdl:message name="ISchemaService_RemoveSchema_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveSchema" />
  </wsdl:message>
  <wsdl:message name="ISchemaService_RemoveSchema_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveSchemaResponse" />
  </wsdl:message>
  <wsdl:message name="ISchemaService_UpdateRole_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRole" />
  </wsdl:message>
  <wsdl:message name="ISchemaService_UpdateRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRoleResponse" />
  </wsdl:message>
  <wsdl:portType name="ISchemaService">
    <wsdl:operation name="CreateSchema">
      <wsdl:input wsaw:Action="http://tempuri.org/ISchemaService/CreateSchema" message="tns:ISchemaService_CreateSchema_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISchemaService/CreateSchemaResponse" message="tns:ISchemaService_CreateSchema_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSchemaById">
      <wsdl:input wsaw:Action="http://tempuri.org/ISchemaService/GetSchemaById" message="tns:ISchemaService_GetSchemaById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISchemaService/GetSchemaByIdResponse" message="tns:ISchemaService_GetSchemaById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSchemas">
      <wsdl:input wsaw:Action="http://tempuri.org/ISchemaService/GetSchemas" message="tns:ISchemaService_GetSchemas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISchemaService/GetSchemasResponse" message="tns:ISchemaService_GetSchemas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveSchema">
      <wsdl:input wsaw:Action="http://tempuri.org/ISchemaService/RemoveSchema" message="tns:ISchemaService_RemoveSchema_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISchemaService/RemoveSchemaResponse" message="tns:ISchemaService_RemoveSchema_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRole">
      <wsdl:input wsaw:Action="http://tempuri.org/ISchemaService/UpdateRole" message="tns:ISchemaService_UpdateRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISchemaService/UpdateRoleResponse" message="tns:ISchemaService_UpdateRole_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISchemaService" type="tns:ISchemaService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateSchema">
      <soap:operation soapAction="http://tempuri.org/ISchemaService/CreateSchema" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchemaById">
      <soap:operation soapAction="http://tempuri.org/ISchemaService/GetSchemaById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchemas">
      <soap:operation soapAction="http://tempuri.org/ISchemaService/GetSchemas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveSchema">
      <soap:operation soapAction="http://tempuri.org/ISchemaService/RemoveSchema" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRole">
      <soap:operation soapAction="http://tempuri.org/ISchemaService/UpdateRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SchemaService">
    <wsdl:port name="BasicHttpBinding_ISchemaService" binding="tns:BasicHttpBinding_ISchemaService">
      <soap:address location="http://localhost:2114/Schema" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>