Torq/Torq.MVC/Connected Services/SalariesService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Torq.Models.Objects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Torq.Models.Objects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Salary">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="SalaryType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Salary" nillable="true" type="tns:Salary" />
  <xs:complexType name="ArrayOfSalary">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Salary" nillable="true" type="tns:Salary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSalary" nillable="true" type="tns:ArrayOfSalary" />
</xs:schema>