Torq/Torq.MVC/Connected Services/SalariesService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2114/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Torq.Models.Objects" />
  <xs:element name="CreateSalary">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Torq.Models.Objects" minOccurs="0" name="salary" nillable="true" type="q1:Salary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSalaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Torq.Models.Objects" minOccurs="0" name="CreateSalaryResult" nillable="true" type="q2:Salary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalaries">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalariesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Torq.Models.Objects" minOccurs="0" name="GetSalariesResult" nillable="true" type="q3:ArrayOfSalary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalaryById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalaryByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Torq.Models.Objects" minOccurs="0" name="GetSalaryByIdResult" nillable="true" type="q4:Salary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSalary">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Torq.Models.Objects" minOccurs="0" name="salary" nillable="true" type="q5:Salary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSalaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Torq.Models.Objects" minOccurs="0" name="UpdateSalaryResult" nillable="true" type="q6:Salary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveSalary">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Torq.Models.Objects" minOccurs="0" name="salary" nillable="true" type="q7:Salary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveSalaryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>