Torq/Torq.WPF/Connected Services/SchedulesService/ScheduleService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ScheduleService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2116/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2116/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2116/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Torq.Models.Objects" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IScheduleService_CreateSchedule_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateSchedule" />
  </wsdl:message>
  <wsdl:message name="IScheduleService_CreateSchedule_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateScheduleResponse" />
  </wsdl:message>
  <wsdl:message name="IScheduleService_GetScheduleById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetScheduleById" />
  </wsdl:message>
  <wsdl:message name="IScheduleService_GetScheduleById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetScheduleByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IScheduleService_GetSchedules_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSchedules" />
  </wsdl:message>
  <wsdl:message name="IScheduleService_GetSchedules_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSchedulesResponse" />
  </wsdl:message>
  <wsdl:message name="IScheduleService_GetSchedulesByEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSchedulesByEmployee" />
  </wsdl:message>
  <wsdl:message name="IScheduleService_GetSchedulesByEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSchedulesByEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IScheduleService_RemoveSchedule_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveSchedule" />
  </wsdl:message>
  <wsdl:message name="IScheduleService_RemoveSchedule_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveScheduleResponse" />
  </wsdl:message>
  <wsdl:message name="IScheduleService_UpdateSchedule_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSchedule" />
  </wsdl:message>
  <wsdl:message name="IScheduleService_UpdateSchedule_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateScheduleResponse" />
  </wsdl:message>
  <wsdl:portType name="IScheduleService">
    <wsdl:operation name="CreateSchedule">
      <wsdl:input wsaw:Action="http://tempuri.org/IScheduleService/CreateSchedule" message="tns:IScheduleService_CreateSchedule_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IScheduleService/CreateScheduleResponse" message="tns:IScheduleService_CreateSchedule_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetScheduleById">
      <wsdl:input wsaw:Action="http://tempuri.org/IScheduleService/GetScheduleById" message="tns:IScheduleService_GetScheduleById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IScheduleService/GetScheduleByIdResponse" message="tns:IScheduleService_GetScheduleById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSchedules">
      <wsdl:input wsaw:Action="http://tempuri.org/IScheduleService/GetSchedules" message="tns:IScheduleService_GetSchedules_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IScheduleService/GetSchedulesResponse" message="tns:IScheduleService_GetSchedules_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSchedulesByEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IScheduleService/GetSchedulesByEmployee" message="tns:IScheduleService_GetSchedulesByEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IScheduleService/GetSchedulesByEmployeeResponse" message="tns:IScheduleService_GetSchedulesByEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveSchedule">
      <wsdl:input wsaw:Action="http://tempuri.org/IScheduleService/RemoveSchedule" message="tns:IScheduleService_RemoveSchedule_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IScheduleService/RemoveScheduleResponse" message="tns:IScheduleService_RemoveSchedule_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSchedule">
      <wsdl:input wsaw:Action="http://tempuri.org/IScheduleService/UpdateSchedule" message="tns:IScheduleService_UpdateSchedule_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IScheduleService/UpdateScheduleResponse" message="tns:IScheduleService_UpdateSchedule_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IScheduleService" type="tns:IScheduleService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateSchedule">
      <soap:operation soapAction="http://tempuri.org/IScheduleService/CreateSchedule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScheduleById">
      <soap:operation soapAction="http://tempuri.org/IScheduleService/GetScheduleById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchedules">
      <soap:operation soapAction="http://tempuri.org/IScheduleService/GetSchedules" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchedulesByEmployee">
      <soap:operation soapAction="http://tempuri.org/IScheduleService/GetSchedulesByEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveSchedule">
      <soap:operation soapAction="http://tempuri.org/IScheduleService/RemoveSchedule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSchedule">
      <soap:operation soapAction="http://tempuri.org/IScheduleService/UpdateSchedule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ScheduleService">
    <wsdl:port name="BasicHttpBinding_IScheduleService" binding="tns:BasicHttpBinding_IScheduleService">
      <soap:address location="http://localhost:2116/Schedule" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>